*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(236, 205, 163);
    text-align:center;
}
h3{
    color: darkgreen;  
    margin-bottom: 7px;
}
#GameBoard{
    border: 5px solid rgb(196, 195, 135)
}

